<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../custom.css"
    />

    <title>Tags</title>
  </head>
  <body>
    <!-- An all-around flexible and composable component-->
    <div class="container">
      <div class="m-t-md">
        <div class="card" style="width: 30%">
          <div class="card-image">
            <figure class="image">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://bulma.io/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>

        <div class="card" style="width: 30%">
          <div class="card-content">
            <p class="title">
              Radiant at that and visiter till clasp bust. Stood shall never
              bird surcease his was stepped the lady. Above faintly fiery above
              i lady this is. Never upon or never.
            </p>
            <p class="subtitle">Jeff Atwood</p>
          </div>
          <footer class="card-footer">
            <p class="card-ffoter-item">
              <span>
                View on
                <a
                  href="https://twitter.com/codinghorror/status/506010907021828096"
                  >Twitter</a
                >
              </span>
            </p>
            <p class="card-footer-item">
              <span> Share on <a href="#">Facebook</a> </span>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
