<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../custom.css"
    />

    <title>Menu</title>
  </head>
  <body>
    <!-- A simple menu, for any type of vertical navigation-->
    <div class="container">
      <div class="m-t-md">
        <div class="columns">
          <div class="column is-3">
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
              </ul>
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li>
                  <a class="is-active">Manage Your Team</a>
                  <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                  </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
              </ul>
              <p class="menu-label">
                Transactions
              </p>
              <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
              </ul>
            </aside>
          </div>
          <div class="column is-9">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt,
            beatae, amet quidem minus voluptatibus voluptas, facere iste ipsam
            quibusdam fugit consequatur itaque sed? Ex, minus suscipit. Illum,
            omnis cum! Ipsam. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Tempore, culpa vel aspernatur voluptatibus cumque, eum
            obcaecati eaque corporis provident nihil repellendus dolores nisi
            minima? Consequuntur tenetur quod temporibus earum enim. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Cum asperiores commodi
            beatae unde in, dolores incidunt minima voluptas eum hic debitis
            veniam impedit reprehenderit neque. Expedita cupiditate omnis
            repellendus ex. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Sunt debitis at odit aperiam sed veniam distinctio optio
            labore dolorem, non a repellat facilis aspernatur, officiis ea quae
            commodi dolores dicta! Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Nemo necessitatibus, quisquam at aspernatur quos,
            numquam perspiciatis sint blanditiis deserunt amet perferendis
            aliquid dolores quis nobis molestias! Maiores soluta iste est.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
