<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../custom.css"
    />

    <title>Message</title>
  </head>
  <body>
    <!-- Colored message blocks to emphasize part of your page-->
    <div class="container">
      <div class="m-t-md">
        <div class="columns">
          <div class="column">
            <article class="message is-dark">
              <div class="message-header">
                <p>My Header</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                cum quidem necessitatibus perferendis, odit, pariatur vero
                molestiae nam est consectetur possimus a, ducimus error dolor
                temporibus numquam rerum doloribus! Provident.
              </div>
            </article>
          </div>
          <div class="column">
            <article class="message is-primary">
              <div class="message-header">
                <p>Primary</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                cum quidem necessitatibus perferendis, odit, pariatur vero
                molestiae nam est consectetur possimus a, ducimus error dolor
                temporibus numquam rerum doloribus! Provident.
              </div>
            </article>

            <article class="message is-info">
              <div class="message-header">
                <p>Info</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                cum quidem necessitatibus perferendis, odit, pariatur vero
                molestiae nam est consectetur possimus a, ducimus error dolor
                temporibus numquam rerum doloribus! Provident.
              </div>
            </article>

            <article class="message is-success">
                    <div class="message-header">
                      <p>Success</p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                      cum quidem necessitatibus perferendis, odit, pariatur vero
                      molestiae nam est consectetur possimus a, ducimus error dolor
                      temporibus numquam rerum doloribus! Provident.
                    </div>
                  </article>

                  <article class="message is-danger">
                        <div class="message-header">
                          <p>Danger</p>
                          <button class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                          cum quidem necessitatibus perferendis, odit, pariatur vero
                          molestiae nam est consectetur possimus a, ducimus error dolor
                          temporibus numquam rerum doloribus! Provident.
                        </div>
                      </article>

          </div>
          <div class="column">
               <h2 class="title has-text-centered">Messages without headers</h2> 
               <article class="message">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  <article class="message is-dark">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-primary">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-link">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-info">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-success">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-warning">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>
                  
                  <article class="message is-danger">
                    <div class="message-body">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                    </div>
                  </article>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
