<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css" />
    <link
      rel="stylesheet"
      href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />

    <link rel="stylesheet" href="../custom.css" />

    <title>Level</title>
  </head>
  <body>
    <!-- A Multipuporse horizontal level which can contain almost any other element -->
    <nav style="height: 10vh" class="level has-background-primary">
      <div class="level-left">
        <div class="level-item">
          <h2 class="subtitle is-3 has-text-light has-text-weight-bold m-l-md">
            Home
          </h2>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-light m-r-md">Sign In</button>
          <button class="button is-info is-outlined m-r-md">Sign Up</button>
        </div>
      </div>
    </nav>

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </body>
</html>
