<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./custom.css" />

    <link rel="stylesheet" href="./styles.css" />
    <title>Tiles</title>
  </head>
  <body>
    <div class="container">
      <div class="tile is-ancestor">
        <div
          style="height: 300px;margin-left: 9px"
          class="tile has-background-info is-5"
        >
          What
        </div>
        <div class="tile has-background-warning is-7">Where</div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-6 is-vertical">
          <div class="tile">First Vertial</div>
          <div class="tile">2nd vertical</div>
          <div class="tile">3rd Vertical</div>
        </div>
        <div class="tile is-6 is-vertical">
                <div class="tile">First Vertial</div>
                <div class="tile">2nd vertical</div>
                <div class="tile">3rd Vertical</div>
              </div>
      </div>
    </div>
  </body>
</html>
